<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Grupo02PCSAS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Grupo02PCSAS.Properties.Settings>
            <setting name="BD_SERVER" serializeAs="String">
                <value>ingreq2021-mysql.cobadwnzalab.eu-central-1.rds.amazonaws.com</value>
            </setting>
            <setting name="BD_NAME" serializeAs="String">
                <value>apsgrupo02</value>
            </setting>
        </Grupo02PCSAS.Properties.Settings>
    </userSettings>
</configuration>